.intro {
    background-image: url(../assets/Background_Intro.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.intro header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro .avatar {
    display: block; 
    width: 96px;
    aspect-ratio: 1/1;
    object-fit: cover;
    align-self: center;
}

.intro aside {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.intro aside img {
    width: 30px;
    
}

.intro .tags {
    height: 40px;
    border-radius: 20px; 
    color: var(--gray-400);
    background-color: var(--gray-300);
    display: flex;
    align-items: center;
    justify-content: center;
}




