.subtitle{
    font: var(--subtitle);
    color: var(--gray-500);

    span{
        color: var(--red);
    }
}

.title-lg{
    color: var(--gray-600);
    font: var(--title-lg);
}

.title-md{
    color: var(--gray-600);
    font: var(--title-md);
}

.title-sm{
    color: var(--gray-600);
    font: var(--title-sm);
}


.text-sm{
    font: var(--text-sm);
    color: var(--gray-400);
}

.caixas .text-sm{
    font: var(--text-sm);
    color: var(--gray-500);
}
